
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* shared items */
.display-flex{
    display: flex;
}
/* Dark 02 */
.text-gray{
    color: #424242;
}
/* Dark 03 */
.text-light-gray{
    color: #727272;
}
/* bg-light */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* button-primary */
.button-primary{
    color: #ffff;
    background-color: #FF900E;
font-size: 1.25rem;
font-weight: 600;
padding: 20px 25px;
border-radius: 0.35rem;
border: none;

}
/* text color */
.text-primary{
    color: #FF900E;

}

/* nav styles */

.navbar{
    justify-content: space-between;
align-items: center;
}

.navitem{
    list-style: none;
    margin-right: 30px;
}
.navlink{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0cqmax auto;
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.banner{
    padding-bottom: 50px;

}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.image-banner{
    width:100%;
   
}
main > section{
    margin-top: 130px;
}

.teams{
    align-items: center;
}
.teams-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.quicklist{
    font-weight: 400;
    font-size: 3rem;
}
.ofour{
    font-weight: 700;
    font-size: 3rem;
}

.teamp{
    font-weight: 300;
 letter-spacing: 1px;
   margin-top: 25px;
   margin-bottom: 35px;
}
.teamtext{
    margin-left: 73px;
    max-width: 573px;
}



/* small device */
@media screen and (max-width:576px) {
    .navbar, .menuul, .teams{
     flex-direction: column;
    }
    .teams-image{
        grid-template-columns: repeat(1,1fr);

    }
    .teamtext{
    margin-left: 20px;}

}
/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {
        .navbar, .menuul, .teams{
     flex-direction: column;
    }
.banner-title{
    font-size: 3rem;
}
    .teams-image{
        grid-template-columns: repeat(2,1fr);

    }
 .teamtext{
    margin-left: 30px;}
}